PORT= 8000
MONGODB_CONNECTION_URI =mongodb+srv://rayanhdev:sqeR5XIBKG461C4P@rayan.qlbpygc.mongodb.net
CORS_ORIGIN = *
ACCESS_TOKEN_KEY =rR5YLxcdCJqhsGtqnGMtLLH3hwqhuPDcRTg7ioyFRDTcUTaFvFZjXC65iPPASfsT
ACCESS_TOKEN_EXPIRY = 1d
REFRESH_TOKEN_KEY=uWmeJyKYCNp1yFuyhqzg18GYN8ldj2fG01VD2qb08x5E0v0JIbvDnR2Tg9C7YrvY
REFRESH_TOKEN_EXPIRY = 30d